<body>
    <h2>Agregar afiliado</h2>
    <div class="form-container">
    <form class="input-container" hx-post="/member/create">
            <input class="form-input" type="text" name="name" value="{{.Member.Name}}" placeholder="Nombre">
            {{with .ErrorMap.name}}
            <p>{{.}}</p>
            {{end}}
            
            <input class="form-input" type="text" name="dni" value="{{.Member.DNI}}" placeholder="DNI">
            {{with .ErrorMap.dni}}
            <p>{{.}}</p>
            {{end}}
        <button type="submit">Enviar</button>
    </form> 
</div>
</body>