<table class="table table-striped w-90 ">
    <tr>
        <th>Familiar</th>
        <th>DNI</th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>

    {{range $_, $parent := .}}
    <tr>
        <td>{{$parent.Name}} </td>
        <td>{{$parent.Rel}} </td>
        <td><button class="btn-primary"><i class="bi bi-file-earmark-text"></i></button></td>
        <td><button class="btn-danger" hx-delete="/member/delete" hx-confirm="¿Estás seguro que deseas eliminar el afiliado?" hx-target="#memberTableDiv"><i class="bi bi-x-square"></i></button></td>
        
     </tr>
    {{end}}

</table>