<h2>Ficha de {{$.Member.Name}}</h2>
<form hx-put="/member/{{$.Member.IdMember}}/edit" hx-target="#tableDiv">
    <input type="text" name="name" value="{{$.Member.Name}}" disabled>
    <input type="text" name="dni" value="{{$.Member.DNI}}" disabled>
    <button type="submit" class="btn-primary btn-submit hide">Confirmar</button>
</form>
<button class="btn-primary" onclick="enableInputs(); showConfirmButton(); hideMemberSearchInput();">Editar</button>

<button type="submit" hx-get="/member/{{$.Member.IdMember}}/parentTable" hx-trigger="click" hx-target="#parentTableDiv" onclick="showAddParentButton();">Familiares</button>
<div id="parentTableDiv"></div>

<button class="btn-primary hide" id="add-parent-button" hx-get="/member/{{$.Member.IdMember}}/form/createParent" hx-trigger="click" hx-target="#tableDiv">Agregar familiar</button>
