<body>
    <h2>Agregar afiliado</h2>
    <div class="form-container">
    <form class="input-container" hx-post="/member/create" hx-target="#tableDiv">
            <input class="form-input" type="text" name="name" value="{{.member.Name}}" placeholder="Nombre">
            {{with .errorMap.name}}
            <p>{{.}}</p>
            {{end}}
            
            <input class="form-input" type="text" name="dni" value="{{.member.DNI}}" placeholder="DNI">
            {{with .errorMap.dni}}
            <p>{{.}}</p>
            {{end}}

            <select name="id-enterprise" id="enterprise-select">
                <option value="0">--Elegir una empresa--</option>
                {{range $_, $e := .enterprises}}
                <option value="{{$e.IdEnterprise}}">{{$e.Name}}</option>
                {{end}}
            </select>
        <button type="submit">Enviar</button>
    </form> 
</div>
</body>