<body>
    <h1>Agregar familiar:</h1>
    <form hx-post="/parent/create" hx-target="#tableDiv">
        <input type="text" name="name" value="{{$.parent.Name}}" placeholder="Nombre">
        {{with .errorMap.name}}
            <p>{{.}}</p>
            {{end}}
        <input type="text" name="rel" value="{{$.parent.Rel}}" placeholder="Parentesco">
        {{with .errorMap.rel}}
            <p>{{.}}</p>
            {{end}}
        <input class="hide" type="number" name="idmember" value="{{$.parent.IdMember}}">
        <button class="btn-primary" type="submit">Enviar</button>
    </form>
</body>