<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Create member form</title>
    
</head>
<body>
    <form action="/member/create" method="POST" enctype="application/json">
        <!-- invalid character 'I' looking for beginning of value
goroutine 37 [running]: CAMBIA CON EL name del primer input -->
<!-- esto significa que no reconoce ni al primero -->
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="dni" placeholder="DNI">
        <button type="submit">Enviar</button>
    </form>

</body>
{{template "footer"}}
</html>