{{$IdEnterprise := $.enterprise.IdEnterprise}}
<!DOCTYPE html>
<html lang="en">
    {{template "Head"}}
<body>
<div id="targetDiv">
    <div class="container" id="main-container">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <a class="navbar-brand" href="/">Sindicato</a>              
                    {{if eq .mode "edit"}}
                        {{if eq .role "admin"}}
                        <a class="nav-item nav-link active py-0" href="/enterprise/addForm" id="add-enterprise-btn"><button class="btn-add">Agregar una empresa</button></a>
                        {{end}}
                    {{end}} 
                </nav>
            </div>
        </header>
    {{if eq .mode "add"}}
        <form hx-post="/enterprise/add" hx-target="#targetDiv">
            <div class="form__section">
                <div class="page-title">Agregar nueva empresa</div>
    {{else if eq .mode "edit"}}
        <form hx-put="/enterprise/{{$.enterprise.IdEnterprise}}/edit" hx-target="#targetDiv">
            <div class="form__section">
                <div class="page-title">{{$.enterprise.Name}}</div>
    {{end}}
                <div class="title-div field-12">Datos de la empresa</div>
                <div class="input-container field-12">
                    <div class="field-tag field-2">Nombre</div>
                    <input class="form-input field-12" type="text" name="name" value="{{$.enterprise.Name}}" disabled>
                </div>
                <div class="hide error-div field-12" id="name-error"></div>

                <div class="input-container field-12">
                    <div class="field-tag field-2">Nº de empresa</div>
                    <input class="form-input field-12" type="text" name="enterprise-number" value="{{$.enterprise.EnterpriseNumber}}" disabled>
                </div>
                <div class="hide error-div field-12" id="enterprise-number-error"></div>
                
                <div class="input-container field-12">
                    <div class="field-tag field-2">CUIT</div>
                    <input class="form-input field-12" type="text" name="cuit" value="{{$.enterprise.CUIT}}" disabled>
                </div>
                <div class="hide error-div field-12" id="cuit-error"></div>

                <div class="input-container field-12">
                    <div class="field-tag field-2">Dirección</div>
                    <input class="form-input field-12" type="text" name="address" value="{{$.enterprise.Address}}" disabled>
                </div>
                <div class="hide error-div field-12" id="address-error"></div>


                <div class="input-container field-12">
                    <div class="field-tag field-2">Localidad</div>
                    <input class="form-input field-12" type="text" name="district" value="{{$.enterprise.District}}" disabled>
                </div>
                <div class="hide error-div field-12" id="district-error"></div>

                <div class="input-container field-12">
                    <div class="field-tag field-2">Código postal</div>
                    <input class="form-input field-12" type="text" name="postal-code" value="{{$.enterprise.PostalCode}}" disabled>
                </div>
                <div class="hide error-div field-12" id="postal-code-error"></div>

                <div class="input-container field-12">
                    <div class="field-tag field-2">Teléfono</div>
                    <input class="form-input field-12" type="text" name="phone" value="{{$.enterprise.Phone}}" disabled>
                </div>
                <div class="hide error-div field-12" id="phone-error"></div>
                
                {{if eq .mode "add"}}
                <div class="item-btn btn-submit" onclick="validateEnterprise('create');">Enviar</div>
                <button type="submit" class="hide" id="submit-create-enterprise-btn">Enviar form (escondido)</button>
                {{else if eq .mode "edit"}}
                <div class="item-btn hide btn-submit hide {{if .withError}}d-inline{{end}}" id="btn-enterprise-confirm" onclick="validateEnterprise('edit')">Confirmar</div>
                <button type="submit" class="hide" id="submit-edit-enterprise-btn">Confirmar form (escondido)</button>
                {{end}}
            </div>
            {{if eq .mode "edit"}}
            <div class="timestamps">Creado: {{.createdAt}}</div>
            <div class="timestamps">Actualizado: {{.updatedAt}}</div>
            {{end}}
        </form>
        {{if eq .mode "edit"}}
            <div class="btn-container">
                <button class="item-btn" hx-get="/payment/{{$.enterprise.IdEnterprise}}/paymentTable" hx-trigger="click" hx-target="#tableDiv">Pagos</button>
                <button class="item-btn" hx-get="/enterprise/{{$.enterprise.IdEnterprise}}/memberTable" hx-trigger="click" hx-target="#tableDiv" onclick="showEnterpriseMemberSearchNav();" hx-headers='{"mode": "edit"}'>Mostrar afiliados ({{.numberOfMembers}})</button>
                {{if eq .role "admin"}}
                <button class="item-btn" onclick="enableInputs(); showConfirmButton('enterprise');">Editar datos</button>
                    {{if eq $.enterprise.IdEnterprise 1}}
                    <!-- si es la empresa 1, es decir SIN EMPRESA, que no aparezca el boton ELIMINAR EMPRESA -->
                    {{else}}
                    <button class="item-btn btn-delete-file" hx-delete="/enterprise/{{$.enterprise.IdEnterprise}}/delete" hx-headers='{"mode": "edit"}' hx-trigger="click" hx-confirm="¿Estás seguro que deseas eliminar la empresa?" hx-target="#targetDiv" class="btn btn-danger">Eliminar empresa</button>
                    {{end}}
                {{end}}
            </div>
                <div class="nav-container hide">
                    <nav class="navbar navbar-file navbar-expand navbar-light bg-light hide" id="nav-enterprise-member-search">
                        <div class="navbar-nav">
                            <div class="inner-addon right-addon" id="enterprise-member-search-input">
                            <i class="bi bi-search input-icon"></i>
                            <input class="form-control static-input input-field search-input" name="search-key" type="search" aria-label="Search" 
                            hx-get="/enterprise/{{$.enterprise.IdEnterprise}}/memberTable" hx-trigger="keyup" hx-headers='{"mode": "edit"}' hx-target="#tableDiv"></input>
                            </div> 
                        </div>
                    </nav>
                </div>
                <div id="tableDiv"></div> 
        {{end}}
    </div>
</div>
{{if .withPaymentTable}}
<div hx-get="/enterprise/{{$IdEnterprise}}/paymentTable/{{.year}}" hx-trigger="load" hx-target="#tableDiv"></div>
{{end}}

{{template "Scripts"}}
{{template "ValidationScripts"}}
{{if eq .mode "add"}}
    <script type="text/javascript">
        enableInputs();
        enableSelects();
        hideAddEnterpriseBtn();
        hideAddMemberBtn();
    </script>
{{else if eq .mode "edit"}}
    <script>
        hideMemberSearchInput();
        hideEnterpriseSearchInput();
        showAddEnterpriseBtn(); 
        hideAddMemberBtn();
    </script>
{{end}}
{{if .withError}}
    <script>
        enableInputs();
        enableSelects();
    </script>
{{end}}

</body>
</html>
