{{template "Head"}}
<div id="target-div">
    <div class="container" id="main-container">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <a class="navbar-brand" href="/">←Volver</a>              
                    {{if eq .mode "edit"}}
                        <a class="nav-item nav-link active py-0" href="/form/createEnterprise" id="add-enterprise-btn"><button class="btn-add">Agregar una empresa</button></a>
                    {{end}} 
                </nav>
            </div>
        </header>
    {{if eq .mode "create"}}
        <form hx-post="/enterprise/create" hx-target="#target-div">
            <div class="form__section">
                <div class="page-title">Agregar nueva empresa</div>
    {{else if eq .mode "edit"}}
        <form hx-put="/enterprise/{{$.enterprise.IdEnterprise}}/edit" hx-target="#target-div">
            <div class="form__section">
                <div class="page-title">Ficha {{$.enterprise.Name}}</div>
    {{end}}
                <div class="titulo field-12">Datos personales</div>
                    <input class="form-input field-12" type="text" name="name" value="{{$.enterprise.Name}}" placeholder="Nombre" disabled>
                    {{with .errorMap.name}}
                        <p>{{.}}</p>
                    {{end}}
                    <input class="form-input field-12" type="text" name="address" value="{{$.enterprise.Address}}" placeholder="Direccion" disabled>
                    {{with .errorMap.address}}
                        <p>{{.}}</p>
                    {{end}}
                    <input class="form-input field-12" type="text" name="cuit" value="{{$.enterprise.CUIT}}" placeholder="CUIT" disabled>
                    {{with .errorMap.cuit}}
                        <p>{{.}}</p>
                    {{end}}
                    <input class="form-input field-12" type="text" name="district" value="{{$.enterprise.District}}" placeholder="Localidad" disabled>
                    {{with .errorMap.district}}
                        <p>{{.}}</p>
                    {{end}}
                    <input class="form-input field-12" type="text" name="postal-code" value="{{$.enterprise.PostalCode}}" placeholder="Código postal" disabled>
                    {{with .errorMap.postalCode}}
                        <p>{{.}}</p>
                    {{end}}
                    <input class="form-input field-12" type="text" name="phone" value="{{$.enterprise.Phone}}" placeholder="Teléfono" disabled>
                    {{with .errorMap.phone}}
                        <p>{{.}}</p>
                    {{end}}
                {{if eq .mode "create"}}
                <button type="submit" class="btn btn-primary btn-submit">Enviar</button>
                {{else if eq .mode "edit"}}
                <button type="submit" class="btn btn-primary btn-submit hide">Confirmar</button>
                {{end}}
            </div>
        </form>
        {{if eq .mode "edit"}}
            <button class="btn-primary" onclick="enableInputs(); showConfirmButton();">Editar</button>
        {{end}}
    </div>
</div>
{{template "Scripts"}}
    

{{if eq .mode "create"}}
    <script type="text/javascript">
        enableInputs();
        enableSelects();
        hideAddEnterpriseBtn();
        hideAddMemberBtn();
    </script>
{{else if eq .mode "edit"}}
    <script>
        hideMemberSearchInput();
        hideEnterpriseSearchInput();
        showAddEnterpriseBtn(); 
        hideAddMemberBtn();
    </script>
{{end}}

<div>{{.numberOfMembers}} </div>
<button hx-delete="/enterprise/{{$.enterprise.IdEnterprise}}/delete" hx-trigger="click" hx-confirm="¿Estás seguro que deseas eliminar la empresa?" hx-target="#tableDiv" class="btn btn-danger">Eliminar empresa</button>
<form hx-get="/enterprise/{{$.enterprise.IdEnterprise}}/memberTable" hx-target="#memberTableDiv">
    <input class="hide" type="text" name="search-key" value="">
    <button type="submit" class="btn btn-primary" onclick="showEnterpriseMemberSearchInput();">Mostrar afiliados</button>
</form>
<input class="hide" id="enterprise-member-search-input" name="search-key" type="search" aria-label="Search" 
    hx-get="enterprise/{{$.enterprise.IdEnterprise}}/memberTable" hx-trigger="keyup" hx-target="#memberTableDiv"></input>
<div id="memberTableDiv"></div>