{{if eq .mode "create"}}
    <h2>Agregar empresa</h2>
    <form hx-post="/enterprise/create" hx-target="#tableDiv">
{{else if eq .mode "edit"}}
    <h2>Ficha de {{$.enterprise.Name}}</h2>
    <form hx-put="/enterprise/{{$.enterprise.IdEnterprise}}/edit" hx-target="#tableDiv">
{{end}}
        <input type="text" name="name" value="{{$.enterprise.Name}}" placeholder="Nombre" disabled>
        {{with .errorMap.name}}
            <p>{{.}}</p>
        {{end}}
        <input type="text" name="address" value="{{$.enterprise.Address}}" placeholder="Direccion" disabled>
        {{with .errorMap.address}}
            <p>{{.}}</p>
        {{end}}
        <input type="text" name="cuit" value="{{$.enterprise.CUIT}}" placeholder="CUIT" disabled>
        {{with .errorMap.cuit}}
            <p>{{.}}</p>
        {{end}}
        <input type="text" name="district" value="{{$.enterprise.District}}" placeholder="Localidad" disabled>
        {{with .errorMap.district}}
            <p>{{.}}</p>
        {{end}}
        <input type="text" name="postal-code" value="{{$.enterprise.PostalCode}}" placeholder="Código postal" disabled>
        {{with .errorMap.postalCode}}
            <p>{{.}}</p>
        {{end}}
        <input type="text" name="phone" value="{{$.enterprise.Phone}}" placeholder="Teléfono" disabled>
        {{with .errorMap.phone}}
            <p>{{.}}</p>
        {{end}}

        {{if eq .mode "create"}}
        <button type="submit" class="btn btn-primary btn-submit">Enviar</button>
        {{else if eq .mode "edit"}}
        <button type="submit" class="btn btn-primary btn-submit hide">Confirmar</button>
        {{end}}

    </form>
    
    {{if eq .mode "edit"}}
    <button class="btn-primary" onclick="enableInputs(); showConfirmButton(); hideEnterpriseSearchInput();">Editar</button>
    {{else if eq .mode "create"}}
    <script type="text/javascript">
        enableInputs();
        enableSelects();
        </script>
{{end}}

<div>{{.numberOfMembers}} </div>
<form hx-get="enterprise/{{$.enterprise.IdEnterprise}}/memberTable" hx-target="#memberTableDiv">
    <input class="hide" type="text" name="search-key" value="">
    <button type="submit" class="btn btn-primary" onclick="showEnterpriseMemberSearchInput()">Mostrar afiliados</button>
</form>
<input class="hide" id="enterprise-member-search-input" name="search-key" type="search" aria-label="Search" 
    hx-get="enterprise/{{$.enterprise.IdEnterprise}}/memberTable" hx-trigger="keyup" hx-target="#memberTableDiv">
<button hx-delete="/enterprise/{{$.enterprise.IdEnterprise}}/delete" hx-trigger="click" hx-confirm="¿Estás seguro que deseas eliminar la empresa?" hx-target="#tableDiv" class="btn btn-danger">Eliminar empresa</button>
<div id="memberTableDiv"></div>