<table class="table table-striped w-90 ">
    <tr>
        <th>Empresa</th>
        <th>Direccion</th>
        <th> </th>
        <th> </th>
    </tr>

    {{range $_, $e := .enterprises}}
    <tr>
        <td>{{$e.Name}} </td>
        <td>{{$e.Address}} </td>
        
        <td><button class="btn-primary" hx-get="/enterprise/{{$e.IdEnterprise}}/file" hx-trigger="click" hx-target="#tableDiv" onclick="disableBrowserInput();"><i class="bi bi-file-earmark-text"></i></button></form></td>
        <td><button class="btn-danger" hx-delete="/enterprise/{{$e.IdEnterprise}}/delete" hx-confirm="¿Estás seguro que deseas eliminar el afiliado?" hx-target="#tableDiv"><i class="bi bi-x-square"></i></button></td>
        
     </tr>
    {{end}}

</table>

{{template "Pagination" .}}