{{template "Head"}}
<body>
    <div class="success-unsuccess-form-container">
        <form class="success-unsuccess-form">
            <div class="page-title form-title">Su sesión ha caducado</div>
            <div class="form-body">
                <div class="icon-container">
                    <i class="bi bi-x-circle check-icon"></i>
                </div>
            </div>
            </form>
        </div>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</body>


<script>
var timer = setTimeout(function() {
    window.location='/login'
}, 2000);
</script>
<script src="/static/scripts/scripts.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</body>
