<!DOCTYPE html>
<html lang="en">
    {{template "Head"}}
    <body>
        <div class="success-unsuccess-form-container">
            <div class="login-form success-unsuccess-form">
                <div class="page-title form-title">Error en la autorización</div>
                <div class="form-section">
                    <div class="icon-container">
                        <i class="bi bi-x-circle check-icon"></i>
                        <a href="/"><button>Recargar el sistema</button></a>
                    </div>
                </div>
                </form>
            </div>
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    </body>
    

<script src="/static/scripts/scripts.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</body>


</html>


