{{define "Header"}}
    <header>
        <div class="nav-container">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <a class="navbar-brand" href="#" onclick="showAddMemberBtn(); hideAddEnterpriseBtn();" hx-get="/member/renderTable" hx-trigger="click" hx-target="#tableDiv">Sindicato</a>
                <div class="navbar-nav">
                    <!-- navbar links -->
                        <a class="nav-item nav-link active" href="#" hx-get="/member/renderTable" hx-trigger="click" hx-target="#tableDiv">Afiliados</a>
                        <a class="nav-item nav-link active" href="#" hx-get="/enterprise/renderTable" hx-trigger="click" hx-target="#tableDiv">Empresas</a>
                    <!-- 4 search inputs -->
                    <div class="inner-addon right-addon" id="member-search-input">
                    <i class="bi bi-search input-icon"></i>
                    <!-- <input class="form-control mr-sm-2 input-field search-input" name="search-key" type="search" aria-label="Search"  -->
                    <input class="form-control static-input search-input" name="search-key" id="search-input" type="search" aria-label="Search" 
                    hx-get="/member/renderTable" hx-trigger="keyup" hx-target="#tableDiv">
                    </div> 
                    <div class="inner-addon right-addon hide" id="enterprise-search-input">
                    <i class="bi bi-search input-icon"></i>
                    <input class="form-control static-input input-field search-input" name="search-key" type="search" aria-label="Search" 
                    hx-get="/enterprise/renderTable" hx-trigger="keyup" hx-target="#tableDiv">
                    </div> 
                </div>
        
                <!-- buttons -->
                {{if eq .role "admin"}}
                <a class="nav-item nav-link active py-0" href="/member/addForm" id="add-member-btn"><button class="btn-add">Agregar un afiliado</button> 
                <a class="nav-item nav-link active py-0 hide" href="/enterprise/addForm" id="add-enterprise-btn"><button class="btn-add">Agregar una empresa</button> 
                {{end}}
                <a href="/renderElectoralMemberList"><div class="nav-item-right"><div class="btn-other">Padrón</div></div></a>
                <a href="/backup"><div class="nav-item-right"><div class="btn-other">Backup</div></div></a>
                <!-- <button class="nav-item-right" onclick="makeBackup();">Backup</button> -->
                <a class="nav-item-right" href="/logout">Salir</a>
            </nav>
        </div>
    </header>    
{{end}}