<!DOCTYPE html>
<html lang="en">
    {{template "Head"}}
    <body>
        <div class="success-unsuccess-form-container">
            <form class="login-form success-unsuccess-form" hx-post="/login" hx-target="body">
                <div class="page-title form-title">Ha ingresado correctamente</div>
                <div class="form-section">
                    <div class="icon-container">
                        <i class="bi bi-check-circle-fill check-icon"></i>
                    </div>
                </div>
                </form>
            </div>
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    </body>
    

<script>
    var timer = setTimeout(function() {
        window.location='/'
    }, 1000);
</script>
<script src="/static/scripts/scripts.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</body>


</html>






