<table class="table table-striped w-90 ">
        <tr>
            <th>Afiliado</th>
            <th>DNI</th>
            <th> </th>
            <th> </th>
        </tr>

        {{range $_, $member := .members}}
        <tr>
            <td>{{$member.Name}} </td>
            <td>{{$member.DNI}} </td>
            <td><button class="btn-primary" hx-get="/member/{{$member.IdMember}}/file" hx-trigger="click" hx-target="#tableDiv" onclick="hideMemberSearchInput();"><i class="bi bi-file-earmark-text"></i></button></form></td>
            <td><button class="btn-danger" hx-delete="/member/{{$member.IdMember}}/delete" hx-confirm="¿Estás seguro que deseas eliminar el afiliado?" hx-target="#tableDiv"><i class="bi bi-x-square"></i></button></td>
            
         </tr>
        {{end}}

 </table>

 <nav aria-label="pagination-nav">
    <ul class="pagination">

    <!-- si totalPages es menor o igual a 10 -->
    {{if le .totalPages 10}}
         <!-- creo la variable currentPage porque dentro del range no la voy a poder usar sino -->
        {{$currentPage := .currentPage}}
        <!-- recorro el array de [1,2,3,4...] -->
        {{range $i := .totalPagesArray}}
            {{ if eq $currentPage $i }}
            <button class="btn btn-primary disabled current-page">{{$i}}</div>
            {{else}}
            <button hx-get="/member/renderTable/{{$i}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{$i}}</div>
            {{end}}
        {{end}}
    {{else}}
        <!-- si es la primera pagina -->
        {{if eq .currentPage 1}}
            <button class="btn btn-primary disabled"><i class="bi bi-chevron-double-left"></i></div>
            <button class="btn btn-primary disabled"><i class="bi bi-chevron-left"></i></div>
            <button class="btn btn-primary disabled">...</i></div>
            <button class="btn btn-primary disabled current-page">{{.currentPage}}</div>
            <button hx-get="/member/renderTable/2" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">2</div>
            <button hx-get="/member/renderTable/3" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">3</div>
            <button hx-get="/member/renderTable/4" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">4</div>
            <button hx-get="/member/renderTable/5" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">5</div>
            <button hx-get="/member/renderTable/6 hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">6</div>
            <button hx-get="/member/renderTable/{{.someAfter}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-right"></i></div>
            <button hx-get="/member/renderTable/{{.lastPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-right"></i></div>
                            
        
        <!-- si es la segunda pagina -->
        {{else if eq .currentPage 2}}
            <button hx-get="/member/renderTable/{{.firstPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-left"></i></div>
            <button hx-get="/member/renderTable/{{.previousPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-left"></i></div>
            <button hx-get="/member/renderTable/{{.someBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/1" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">1</div>
            <button class="btn btn-primary disabled current-page">{{.currentPage}}</div>
            <button hx-get="/member/renderTable/3" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">3</div>
            <button hx-get="/member/renderTable/4" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">4</div>
            <button hx-get="/member/renderTable/5" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">5</div>
            <button hx-get="/member/renderTable/6" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">6</div>
            <button hx-get="/member/renderTable/{{.someAfter}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-right"></i></div>
            <button hx-get="/member/renderTable/{{.lastPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-right"></i></div>
        <!-- si es la tercera pagina -->
        {{else if eq .currentPage 3}}
            <button hx-get="/member/renderTable/{{.firstPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-left"></i></div>
            <button hx-get="/member/renderTable/{{.previousPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-left"></i></div>
            <button hx-get="/member/renderTable/{{.someBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/1" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">1</div>
            <button hx-get="/member/renderTable/2" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">1</div>
            <button class="btn btn-primary disabled current-page">{{.currentPage}}</div>
            <button hx-get="/member/renderTable/4" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">4</div>
            <button hx-get="/member/renderTable/5" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">5</div>
            <button hx-get="/member/renderTable/6" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">6</div>
            <button hx-get="/member/renderTable/{{.someAfter}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-right"></i></div>
            <button hx-get="/member/renderTable/{{.lastPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-right"></i></div>
        {{else}} 
        <!-- si es la cuarta o mas -->
            <button hx-get="/member/renderTable/{{.firstPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-left"></i></div>
            <button hx-get="/member/renderTable/{{.previousPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-left"></i></div>
            <button hx-get="/member/renderTable/{{.someBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.threeBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.threeBefore}}</div>
            <button hx-get="/member/renderTable/{{.twoBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.twoBefore}}</div>
            <button hx-get="/member/renderTable/{{.previousPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.previousPage}}</div>
            <button class="btn btn-primary disabled current-page">{{.currentPage}}</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.nextPage}}</div>
            <button hx-get="/member/renderTable/{{.twoAfter}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.twoAfter}}</div>
            <button hx-get="/member/renderTable/{{.someAfter}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-right"></i></div>
            <button hx-get="/member/renderTable/{{.lastPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-right"></i></div>
        {{end}} 
                
        <!-- si es la antepenultima -->
        {{if eq .twoAfter .lastPage}}
            <button hx-get="/member/renderTable/{{.firstPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-left"></i></div>
            <button hx-get="/member/renderTable/{{.previousPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-left"></i></div>
            <button hx-get="/member/renderTable/{{.someBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.fourBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.fourBefore}}</div>
            <button hx-get="/member/renderTable/{{.threeBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.threeBefore}}</div>
            <button hx-get="/member/renderTable/{{.twoBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.twoBefore}}</div>
            <button class="btn btn-primary disabled current-page">{{.currentPage}}</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.nextPage}}</div>
            <button hx-get="/member/renderTable/{{.twoAfter}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.twoAfter}}</div>
            <button hx-get="/member/renderTable/{{.someAfter}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-right"></i></div>
            <button hx-get="/member/renderTable/{{.lastPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-right"></i></div>
        <!-- si es la anteultima -->
        {{else if eq .nextPage .lastPage}}
            <button class="btn btn-primary disabled current-page">{{.currentPage}}</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.nextPage}}</div>
            <button hx-get="/member/renderTable/{{.someAfter}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.nextPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-right"></i></div>
            <button hx-get="/member/renderTable/{{.lastPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-right"></i></div>
        <!-- si es la ultima pagina -->
        {{else if eq .currentPage .lastPage}}
            <button hx-get="/member/renderTable/{{.firstPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-double-left"></i></div>
            <button hx-get="/member/renderTable/{{.previousPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary"><i class="bi bi-chevron-left"></i></div>
            <button hx-get="/member/renderTable/{{.someBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">...</div>
            <button hx-get="/member/renderTable/{{.fiveBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.fiveBefore}}</div>
            <button hx-get="/member/renderTable/{{.fourBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.fourBefore}}</div>
            <button hx-get="/member/renderTable/{{.threeBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.threeBefore}}</div>
            <button hx-get="/member/renderTable/{{.twoBefore}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.twoBefore}}</div>
            <button hx-get="/member/renderTable/{{.previousPage}}" hx-trigger="click" hx-target="#tableDiv" class="btn btn-primary">{{.previousPage}}</div>
            <button class="btn btn-primary disabled current-page">{{.currentPage}}</div>
            <button class="btn btn-primary disabled">...</i></div>
            <button class="btn btn-primary disabled"><i class="bi bi-chevron-right"></i></div>
            <button class="btn btn-primary disabled"><i class="bi bi-chevron-double-right"></i></div>
        {{end}}
    {{end}}
    </ul>
  </nav>

<h2>Valores:</h2>
<p>currentPage: {{.currentPage}}</p>
<p>previousPage: {{.previousPage}}</p>
<p>nextPage: {{.nextPage}}</p>
<p>totalPages: {{.totalPages}}</p>
<p>lastPage: {{.lastPage}}</p>