<div class="nav-container">
    <nav class="navbar navbar-file navbar-expand navbar-light bg-light">
        <div class="navbar-nav">
            <a href="/member/{{.idMember}}/form/createParent"><button>Agregar familiar</button></a>
        </div>
    </nav>
</div>
<table class="table table-striped w-90 sub-table">
        <tr>
            <th>Nombre</th>
            <th>Parentesco</th>
            <th> </th>
            <th> </th>
        </tr>

        {{range $_, $p := .parents}}
        <tr>
            <td>{{$p.Name}} </td>
            <td>{{$p.Rel}} </td>
            <td>
                <a href="/parent/{{$p.IdMember}}/{{$p.IdParent}}/file">
                    <button class="btn-file">
                <i class="bi bi-file-earmark-text"></i>
                    </button>
                </a>
            </td>
            <td><button class="btn-danger" hx-delete="/parent/{{$p.IdMember}}/{{$p.IdParent}}/delete" hx-confirm="¿Estás seguro que deseas eliminar el familiar?" hx-target="#parentTableDiv"><i class="bi bi-x-square"></i></button></td>  
        </tr>
        {{end}}
    </table>    
