<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
<div id="targetDiv">
    <div class="container" id="member-container">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <a class="navbar-brand" href="/">Sindicato</a>
                    <div class="header-icon-container">
                        <a class="nav-item nav-link active show" href="/member/list"><i class="bi bi-person-fill"></i></a>
                        <a class="nav-item nav-link active show" href="/enterprise/list"><i class="bi bi-building-fill"></i></a>
                    </div>
                    {{if eq .mode "edit"}}
                        {{if .canWrite}}
                        <!-- <a class="nav-item nav-link active py-0" href="/member/addForm" id="add-member-btn"><button class="btn-add">Agregar un afiliado</button></a> -->
                         <a href="/member/addForm"><button class="add-btn-table">Agregar afiliado</button></a>
                        {{end}}
                    {{end}}
                </nav>
            </div> 
        </header>
        {{if eq .mode "add" }}
            <form hx-post="/member/add" hx-target="#targetDiv">
                <div class="form__section" id="form-section">
                    <div class="page-title">Agregar nuevo afiliado</div>
        {{else if eq .mode "edit"}}
            <form hx-put="/member/{{$.member.IdMember}}/edit" hx-target="#targetDiv">
                <div class="form__section">
                    <div class="page-title">{{$.member.LastName}}, {{$.member.Name}}</div>
        {{end}}
                        <div class="title-div field-12">Datos personales</div>
                        
                        <div class="input-container field-12">
                            <div class="field-tag field-2">Nombres</div>
                            <input class="form-input field-100" type="text" name="name" value="{{$.member.Name}}" disabled>
                        </div>
                        <div class="hide error-div field-12 name-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Apellidos</div>
                        <input class="form-input field-100" type="text" name="last-name" value="{{$.member.LastName}}" disabled>
                        </div>
                        <div class="hide error-div field-12 last-name-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">DNI</div>
                            <input class="form-input field-100" type="text" name="dni" value="{{$.member.DNI}}" disabled>
                        </div>
                        <div class="hide error-div field-12 dni-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Fecha de nacimiento</div>
                            <input class="form-input field-100" type="text" name="birthday" value="{{$.member.Birthday}}" placeholder="DD/MM/AAAA" disabled>
                        </div>
                        <div class="hide error-div field-12 birthday-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Género</div>
                            <select class="form-input field-100" name="gender" id="gender" disabled>
                                {{if eq $.member.Gender ""}}
                                <option value="">--Elegir una opción--</option>
                                {{else}}
                                <option value="{{$.member.Gender}}">{{$.member.Gender}}</option>
                                {{end}}
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <div class="hide error-div field-12 gender-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Estado Civil</div>
                            <select class="form-input field-100" id="marital-status" name="marital-status" disabled>
                                {{if eq $.member.MaritalStatus ""}}
                                <option value="">--Elegir una opción--</option>
                                {{else}}
                                <option value="{{$.member.MaritalStatus}}">{{$.member.MaritalStatus}}</option>
                                {{end}}
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Separado">Separado</option>
                                <option value="Divorciado">Divorciado</option>
                                <option value="Viudo">Viudo</option>
                            </select>
                        </div>
                        <div class="hide error-div field-12 marital-status-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Teléfono</div>
                            <input class="form-input field-100" name="phone" type="text" value="{{$.member.Phone}}" disabled></input>
                        </div>
                        <div class="hide error-div field-12 phone-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2 print hide">Email</div>
                            {{if eq .mode "add"}}
                            <div class="field-tag field-2 no-print"><div class="btn btn-link">Email <i class="bi bi-envelope-at"></i> </div></div>                            
                            {{else}}
                            <div class="field-tag field-2 no-print"><a href="mailto:{{$.member.Email}}" target="_blank"><div class="btn btn-link">Email <i class="bi bi-envelope-at"></i> </div></a></div>                            
                            {{end}}
                            <input class="form-input field-100" name="email" type="text" value="{{$.member.Email}}" disabled></input>
                        </div>
                        <!-- <a href="mailto:{{$.member.Email}}" target="_blank"><div class="small-link-btn"><i class="bi bi-file-earmark-text"></i></div></a> -->
                        <div class="hide error-div field-12 email-error"></div>

                        
                        <div class="title-div field-12">Domicilio</div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Dirección</div>
                            <input class="form-input field-100" type="text" name="address" value="{{$.member.Address}}" disabled>
                        </div>
                        <div class="hide error-div field-12 address-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Codigo Postal</div>
                            <input class="form-input field-100" type="text" name="postal-code" value="{{$.member.PostalCode}}" disabled>
                        </div>
                        <div class="hide error-div field-12 postal-code-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Localidad</div>
                            <input class="form-input field-100" type="text" name="district" value="{{$.member.District}}" disabled>
                        </div>
                        <div class="hide error-div field-12 district-error"></div>

                        
                        <div class="title-div field-12">Datos de la Obra Social</div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Nº Afiliado</div>
                            <input class="form-input field-100" type="text" name="member-number" value="{{$.member.MemberNumber}}" disabled>
                        </div>
                        <div class="hide error-div field-12 member-number-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Situacion afiliatoria</div>
                            <select class="form-input field-100" name="affiliated" id="affiliated" disabled>
                                {{if eq .mode "add"}}
                                    <option value="true">Afiliado</option>
                                    <option value="false">Desafiliado</option>
                                {{else}}
                                    {{if $.member.Affiliated}}
                                    <option value="true">Afiliado</option>
                                    <option value="false">Desafiliado</option>
                                    {{else}}
                                    <option value="false">Desafiliado</option>
                                    <option value="true">Afiliado</option>
                                    {{end}}
                                {{end}}
            
                               
                            </select>
                        </div>
                        <div class="hide error-div field-12 affiliated-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">CUIL</div>
                            <input class="form-input field-100" type="text" name="cuil" value="{{$.member.CUIL}}" disabled>
                        </div>
                        <div class="hide error-div field-12 cuil-error"></div>


                        <div class="input-container field-12">
                            <div class="field-tag field-2 print hide">Empresa</div>
                            {{if eq $.member.IdEnterprise 0}}
                            <div class="field-tag field-2 no-print"><div class="btn btn-link">Empresa <i class="bi bi-file-earmark-text"></i></div></div>
                            {{else}}
                            <div class="field-tag field-2 no-print"><a href="/enterprise/{{$.member.IdEnterprise}}/file"><div class="btn btn-link">Empresa <i class="bi bi-file-earmark-text"></i> </div></a></div>
                            {{end}}
                            
                                {{if eq $.member.IdEnterprise 0}}
                                <!-- si estoy en modo add desde cero que aparezca el search box -->

                                <!-- el input de nombre empresa escondido -->
                                <input class="hide form-input field-100 no-transform" type="text" id="name-enterprise-input" value="{{$.enterpriseName}}" disabled>
                                <!-- icono X escondido -->
                                <div class="hide" id="x-enterprise" onclick="searchEnterpriseAgain();"><i class="bi bi-x-square x-icon"></i></div> 

                                <!-- search box -->
                                <div class="enterprise-select-container" id="enterprise-search-box">
                                    <div class="inner-addon right-addon" id="member-search-input">
                                        <i class="bi bi-search input-icon"></i>
                                        <input class="form-control static-input search-input" placeholder="Buscar empresa" name="search-key" type="search" aria-label="Search" 
                                        hx-get="/enterprise/renderTableSelect" hx-trigger="keyup" hx-target="#optionsTable">
                                    </div>
                                    <!-- lista de empresas -->
                                    <div class="options" id="optionsTable"></div>
                                </div>

                                {{else}}
                                <!-- si tiene una empresa mostrarla en el input -->
                                <input class="form-input field-100 no-transform" type="text" id="name-enterprise-input" value="{{$.enterpriseName}}" disabled>
                                <!-- icono X escondido hasta que se aprete el boton Editar -->
                                <div class="hide" id="x-enterprise" onclick="searchEnterpriseAgain();"><i class="bi bi-x-square x-icon"></i></div> 

                                <!-- search box escondido -->
                                <div class="hide enterprise-select-container" id="enterprise-search-box">
                                    <div class="inner-addon right-addon" id="member-search-input">
                                        <i class="bi bi-search input-icon"></i>
                                        <input class="form-control static-input search-input" placeholder="Buscar empresa" name="search-key" type="search" aria-label="Search" 
                                        hx-get="/enterprise/renderTableSelect" hx-trigger="keyup" hx-target="#optionsTable">
                                    </div>
                                    <!-- lista de empresas -->
                                    <div class="options" id="optionsTable"></div>
                                </div>

                                {{end}}
                        

                            <!-- input id-enterprise escondido -->
                            <input class="hide" id="id-enterprise-input" type="text" value="{{$.member.IdEnterprise}}" name="id-enterprise">
                        </div>
                        <div class="hide error-div field-12 enterprise-error"></div>
                        

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Categoría</div>
                            <select class="form-input field-100" name="category" id="category" disabled>
                                {{if eq $.member.Category ""}}
                                    <option value="">--Elegir una opción--</option>
                                {{else}}
                                    <option value="{{$.member.Category}}">{{$.member.Category}}</option>
                                {{end}}
                                <option value="Nivel 1: Oficial Múltiple">Nivel 1: Oficial Múltiple</option>
                                <option value="Nivel 2: Oficial Especializado">Nivel 2: Oficial Especializado</option>
                                <option value="Nivel 3: Oficial General">Nivel 3: Oficial General</option>
                                <option value="Nivel 4: Medio Oficial">Nivel 4: Medio Oficial</option>
                                <option value="Nivel 5: Ayudante">Nivel 5: Ayudante</option>
                                <option value="Nivel 6: Operario Act. Industrial">Nivel 6: Operario Act. Industrial</option>
                            </select>
                        </div>
                        <div class="hide error-div field-12 category-error"></div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Fecha de ingreso</div>
                            <input class="form-input field-100" type="text" name="entry-date" id="entry-date" value="{{$.member.EntryDate}}" placeholder="DD/MM/AAAA" disabled>
                        </div>
                        <div class="hide error-div field-12 entry-date-error"></div>

                        <div class="input-container field-12">
                        <div class="field-tag field-2">Observaciones</div>
                        <input class="form-input field-100" type="text" name="observations" value="{{$.member.Observations}}" disabled>
                    </div>
                    <div class="hide error-div field-12 observations-error"></div>
                        
                    {{if eq .mode "add"}}
                    <div class="item-btn btn-submit" onclick="validateMember('create')">Enviar</div>
                        <button type="submit" class="hide" id="submit-create-member-btn">Enviar form (escondido)</button>
                    {{else if eq .mode "edit"}}
                    <div class="item-btn hide btn-submit" id="btn-member-confirm" onclick="validateMember('edit')">Confirmar</div>
                        <button type="submit" class="hide" id="submit-edit-member-btn">Confirmar form (escondido)</button>
                    {{end}}
                </div>
                {{if eq .mode "edit"}}
                <div class="timestamps">Creado: {{.createdAt}}</div>
                <div class="timestamps">Actualizado: {{.updatedAt}}</div>
                {{end}}
            </form>            

    {{template "Scripts"}}
    {{template "ValidationScripts"}}
    {{if eq .mode "edit"}}
        <div class="btn-container">
            <button class="item-btn" onclick="loadParentTable();">Familiares</button>
            {{if .canWrite}}
            <button class="item-btn" onclick="enableInputs(); showConfirmButton('member'); enableSelects(); showXEnterprise(); hideEnterpriseFile();">Editar datos</button>
            {{end}}
            {{if .canDelete}}
            <button class="btn-delete-file item-btn" hx-delete="/member/{{$.member.IdMember}}/delete" hx-headers='{"mode": "edit"}' hx-confirm="¿Estás seguro que deseas eliminar el afiliado?" hx-target="#targetDiv">Eliminar afiliado</button>
            {{end}}
        </div>
    {{end}}
        <div class="hide" hx-get="/member/{{$.member.IdMember}}/parentTable" hx-trigger="click" hx-target="#tableDiv" onclick="showParentTable();" id="parent-button"></div>
        <div class="hide" id="tableDiv"></div>
    </div>
</div>
{{if eq .mode "add"}}
    <script type="text/javascript">
        enableInputs();
        enableSelects();
        hideAddMemberBtn();
    </script>
{{else if eq .mode "edit"}}
    <script>
        showAddMemberBtn();
    </script>
{{end}}
{{if .withError}}
    <script>
        showXEnterprise();
        enableInputs();
        enableSelects();
    </script>
{{end}}
</body>
</html>

