<table class="table table-striped w-90 ">
    <tr>
        <th>Nombre</th>
        <th>Parentesco</th>
        <th> </th>
        <th> </th>
    </tr>

    {{range $_, $parent := .parents}}
    <tr>
        <td>{{$parent.Name}} </td>
        <td>{{$parent.Rel}} </td>
        <td><button class="btn-primary" onclick="disableBrowserInput();" hx-get="/parent/{{$parent.IdParent}}/file" hx-trigger="click" hx-target="#tableDiv"><i class="bi bi-file-earmark-text"></i></button></form></td>
        <td><button class="btn-danger" hx-delete="/parent/{{$parent.IdMember}}/{{$parent.IdParent}}/delete" hx-confirm="¿Estás seguro que deseas eliminar el familiar?" hx-target="#parentTableDiv"><i class="bi bi-x-square"></i></button></td>
        
     </tr>
    {{end}}

</table>
