<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
<div id="target-div">
    <div class="container" id="main-container">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <a class="navbar-brand" href="/">Sindicato</a>
                    {{if eq .mode "edit"}}
                        {{if eq .role "admin"}}
                        <a class="nav-item nav-link active py-0" href="/form/createMember" id="add-member-btn"><button class="btn-add">Agregar un afiliado</button></a>
                        {{end}}
                    {{end}}
                </nav>
            </div> 
        </header>
        {{if eq .mode "create" }}
            <form hx-post="/member/create" hx-target="#target-div">
                <div class="form__section" id="form-section">
                    <div class="page-title">Agregar nuevo afiliado</div>
        {{else if eq .mode "edit"}}
            <form hx-put="/member/{{$.member.IdMember}}/edit" hx-target="#target-div">
                <div class="form__section">
                    <div class="page-title">{{$.member.LastName}}, {{$.member.Name}}</div>
        {{end}}
                        <div class="title-div field-12">Datos personales</div>
                        
                        <div class="input-container field-12">
                            <div class="field-tag field-2">Nombres</div>
                            <input class="form-input field-100" type="text" name="name" value="{{$.member.Name}}" placeholder="Nombres" disabled>
                            {{with .errorMap.name}}
                                <div class="error-div field-100">{{.}}</div>
                            {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Apellidos</div>
                        <input class="form-input field-100" type="text" name="last-name" value="{{$.member.LastName}}" placeholder="Apellidos" disabled>
                        {{with .errorMap.lastName}}
                            <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">DNI</div>
                        <input class="form-input field-100" type="text" name="dni" value="{{$.member.DNI}}" placeholder="DNI" disabled>
                        {{with .errorMap.dni}}
                            <p class="error-div field-100">{{.}}</p>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Fecha de nacimiento</div>
                        <input class="form-input field-100" type="text" name="birthday" value="{{$.member.Birthday}}" placeholder="Fecha de Nacimiento (DD/MM/AAAA)" disabled>
                        {{with .errorMap.birthday}}
                            <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Género</div>
                        <select class="form-input field-100" name="gender" id="gender" onchange="cambiarColorPorDefecto(value, id);" disabled>
                            {{if eq $.member.Gender ""}}
                            <option value="">--Elegir un género--</option>
                            {{else}}
                            <option value="{{$.member.Gender}}">{{$.member.Gender}}</option>
                            {{end}}
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                        {{with .errorMap.gender}}
                            <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Estado Civil</div>
                        <select class="form-input field-100" id="marital-status" name="marital-status" onchange="cambiarColorPorDefecto(value, id);" disabled>
                            {{if eq $.member.MaritalStatus ""}}
                            <option value="">--Elegir un estado civil--</option>
                            {{else}}
                            <option value="{{$.member.MaritalStatus}}">{{$.member.MaritalStatus}}</option>
                            {{end}}
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Viudo">Viudo</option>
                            <option value="Separado">Separado</option>
                            <option value="Divorciado">Divorciado</option>
                        </select>
                        {{with .errorMap.maritalStatus}}
                            <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Teléfono</div>
                        <input class="form-input field-100" name="phone" type="text" value="{{$.member.Phone}}" placeholder="Teléfono" disabled></input>
                        {{with .errorMap.phone}}
                            <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Email</div>
                        <input class="form-input field-100" name="email" type="text" value="{{$.member.Email}}" placeholder="Email" disabled></input>
                        {{with .errorMap.email}}
                            <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        
                        <div class="title-div field-12">Domicilio</div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Dirección</div>
                        <input class="form-input field-100" type="text" name="address" value="{{$.member.Address}}" placeholder="Dirección" disabled>
                        {{with .errorMap.address}}
                        <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Codigo Postal</div>
                        <input class="form-input field-100" type="text" name="postal-code" value="{{$.member.PostalCode}}" placeholder="Codigo Postal" disabled>
                        {{with .errorMap.postalCode}}
                        <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Localidad</div>
                        <input class="form-input field-100" type="text" name="district" value="{{$.member.District}}" placeholder="Localidad" disabled>
                        {{with .errorMap.district}}
                        <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        
                        <div class="title-div field-12">Datos de la Obra Social</div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Nº Afiliado</div>
                        <input class="form-input field-100" type="text" name="member-number" value="{{$.member.MemberNumber}}" placeholder="Número de Afiliado" disabled>
                        {{with .errorMap.memberNumber}}
                        <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">CUIL</div>
                        <input class="form-input field-100" type="text" name="cuil" value="{{$.member.CUIL}}" placeholder="CUIL" disabled>
                        {{with .errorMap.cuil}}
                        <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Empresa</div>
                        {{if eq .mode "edit" }}
                            {{if eq $.member.IdEnterprise 0}}
                             <div id="enterprise-button" class="field-100"><div class="enterprise-btn">SIN EMPRESA</div></div>       
                            {{else}}
                                {{range $_, $e := .enterprises}}
                                    {{if eq $e.IdEnterprise $.member.IdEnterprise}}
                                    <div id="enterprise-button" class="field-100"><a href="/enterprise/{{$e.IdEnterprise}}/file"><div class="enterprise-btn">{{$e.Name}}</div></a></div>
                                    {{end}}
                                {{end}}
                            {{end}}
                        {{end}}
                        
                        {{if eq .mode "edit"}}
                            <select class="hide form-input field-100 " name="id-enterprise" id="enterprise-select" disabled>
                        {{else if eq .mode "create"}}
                            <select class="form-input field-100" name="id-enterprise" id="enterprise-select" disabled>
                        {{end}}

                            <!-- fijarse que pasa cuando la empresa es borrada y queda NULL -->
                            {{if eq $.member.IdEnterprise 0}}
                                {{if eq .mode "create" }}
                                    <option value="">--Elegir una empresa--</option>
                                {{else if eq .mode "edit" }}
                                    <option value="0">SIN EMPRESA</option>
                                {{end}}
                            {{else}}
                                {{range $_, $e := .enterprises}}
                                    {{if eq $e.IdEnterprise $.member.IdEnterprise}}
                                        <option class="current-enterprise" value="{{$e.IdEnterprise}}">{{$e.Name}}</option>
                                    {{end}}
                                {{end}}
                            {{end}}
                            {{range $_, $e := .enterprises}}
                                <option value="{{$e.IdEnterprise}}">{{$e.Name}}</option>
                            {{end}}
                        </select>
                        {{with .errorMap.idEnterprise}}
                        <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Categoría</div>
                        <select class="form-input field-100" name="category" id="category" onchange="cambiarColorPorDefecto(value, id);"  disabled>
                            {{if eq $.member.Category ""}}
                                <option value="">--Elegir una categoría--</option>
                            {{else}}
                                <option value="{{$.member.Category}}">{{$.member.Category}}</option>
                            {{end}}
                            <option value="Nivel 1: Oficial Múltiple">Nivel 1: Oficial Múltiple</option>
                            <option value="Nivel 2: Oficial Especializado">Nivel 2: Oficial Especializado</option>
                            <option value="Nivel 3: Oficial General">Nivel 3: Oficial General</option>
                            <option value="Nivel 4: Medio Oficial">Nivel 4: Medio Oficial</option>
                            <option value="Nivel 5: Ayudante">Nivel 5: Ayudante</option>
                            <option value="Nivel 6: Operario Act. Industrial">Nivel 6: Operario Act. Industrial</option>
                        </select>
                        {{with .errorMap.category}}
                        <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>

                        <div class="input-container field-12">
                            <div class="field-tag field-2">Fecha de ingreso</div>
                        <input class="form-input field-100" type="text" name="entry-date" id="entry-date" value="{{$.member.EntryDate}}" placeholder="Fecha de ingreso (DD/MM/AAAA)" disabled>
                        {{with .errorMap.entryDate}}
                        <div class="error-div field-100">{{.}}</div>
                        {{end}}
                        </div>
                        
                    {{if eq .mode "create"}}
                        <button type="submit" class="item-btn btn-submit">Enviar</button>
                    {{else if eq .mode "edit"}}
                        <button type="submit" class="item-btn hide btn-submit" onclick="hideEnterpriseSelect(); showEnterpriseButton();">Confirmar</button>
                    {{end}}
                </div>
            </form>            

    {{template "Scripts"}}

    {{if eq .mode "edit"}}
        <div class="btn-container">
            <button class="item-btn" type="submit" hx-get="/member/{{$.member.IdMember}}/parentTable" hx-trigger="click" hx-target="#parentTableDiv" onclick="showAddParentButton();">Familiares</button>
            {{if eq .role "admin"}}
            <button class="item-btn" onclick="enableInputs(); showConfirmButton(); enableSelects(); hideEnterpriseButton(); showEnterpriseSelect();">Editar</button>
            <button class="btn-danger item-btn" hx-delete="/member/{{$.member.IdMember}}/delete" hx-headers='{"mode": "edit"}' hx-confirm="¿Estás seguro que deseas eliminar el afiliado?" hx-target="#target-div">Eliminar afiliado</button>
            {{end}}
        </div>
    {{end}}
        <div id="parentTableDiv"></div>
    </div>
</div>
<h2>{{.role}} </h2>
<h2>{{.mode}} </h2>
{{if eq .mode "create"}}
    <script type="text/javascript">
        enableInputs();
        enableSelects();
        hideAddMemberBtn();
    </script>
{{else if eq .mode "edit"}}
    <script>
        showAddMemberBtn();
    </script>
{{end}}
</body>
</html>

