<table class="table table-striped w-90 ">
    <tr>
        <th>Nombre</th>
        <th>Relacion</th>
        <th>Afiliado</th>
        <th> </th>
    </tr>

    {{range $_, $p := .parents}}
    <tr>
        <td>{{$p.LastName}}, {{$p.Name}}</td>
        <td>{{$p.Rel}}</td>
        <td><button class="btn-primary" onclick="disableBrowserInput();" hx-get="/parent/{{$p.IdParent}}/file" hx-trigger="click" hx-target="#tableDiv"><i class="bi bi-file-earmark-text"></i></button></form></td>
     </tr>
    {{end}}

</table>

{{template "Pagination" .}}