<h2>Ficha de {{$.parent.Name}}</h2>
<form hx-put="/parent/{{$.parent.IdParent}}/edit" hx-target="#tableDiv">
    <input class="hide" type="number" name="idmember" value="{{$.parent.IdMember}}">
    <input type="text" name="name" value="{{$.parent.Name}}" disabled>
    <input type="text" name="rel" value="{{$.parent.Rel}}" disabled>
    <button type="submit" class="btn-primary btn-submit hide">Confirmar</button>
</form>
<button class="btn-primary" onclick="enableInputs(); showConfirmButton(); disableBrowserInput();">Editar</button>

<button class="btn-primary" hx-get="/member/{{$.parent.IdMember}}/file" hx-trigger="click" hx-target="#tableDiv">Volver al afiliado</button>
