<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
    <div id="target-div">
        <div class="container" id="main-container">
            <header>
                <div class="nav-container">
                    <nav class="navbar navbar-expand navbar-light bg-light">
                        <a class="navbar-brand" href="/">Sindicato</a>
                    </nav>
                </div> 
            </header>
            {{if eq .mode "create" }}
            <form hx-post="/parent/{{$.parent.IdMember}}/create" hx-target="#target-div">
                <div class="form__section" id="form-section">
                    {{if eq .role "admin"}}
                    <div class="page-title">Agregar nuevo familiar</div>
                    {{end}}
            {{else if eq .mode "edit"}}
            <form hx-put="/parent/{{$.parent.IdMember}}/{{$.parent.IdParent}}/edit" hx-target="#target-div">
                <div class="form__section">
                    <div class="page-title">{{$.parent.LastName}}, {{$.parent.Name}}</div>
            {{end}}
            <input class="form-input field-12" type="text" name="name" value="{{$.parent.Name}}" placeholder="Nombres" disabled>
            {{with .errorMap.name}}
            <div class="error-div field-12">{{.}}</div>
            {{end}}
            <input class="form-input field-12" type="text" name="last-name" value="{{$.parent.LastName}}" placeholder="Apellidos" disabled>
            {{with .errorMap.lastName}}
            <div class="error-div field-12">{{.}}</div>
            {{end}}
            <input class="form-input field-12" type="text" name="rel" value="{{$.parent.Rel}}" placeholder="Parentesco" disabled>
            {{with .errorMap.rel}}
            <div class="error-div field-12">{{.}}</div>
            {{end}}
            <input class="form-input field-12" type="text" name="birthday" value="{{$.parent.Birthday}}" placeholder="Fecha de Nacimiento" disabled>
            {{with .errorMap.birthday}}
            <div class="error-div field-12">{{.}}</div>
            {{end}}
            <select class="form-input field-12" name="gender" id="gender" onchange="cambiarColorPorDefecto(value, id);" disabled>
            {{if eq $.parent.Gender ""}}
                <option value="">--Elegir un género--</option>
            {{else}}
                <option value="{{$.parent.Gender}}">{{$.parent.Gender}}</option>
            {{end}}               
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
            {{with .errorMap.gender}}
            <div class="error-div field-12">{{.}}</div>
            {{end}}
            <input class="form-input field-12" type="text" name="cuil" value="{{$.parent.CUIL}}" placeholder="CUIL" disabled>
            {{with .errorMap.cuil}}
            <div class="error-div field-12">{{.}}</div>
            {{end}}
            <input class="hide" type="number" name="id-member" value="{{$.parent.IdMember}}">

            {{if eq .mode "create"}}
            <button type="submit" class="item-btn btn-submit">Enviar</button>
            {{else if eq .mode "edit"}}
            <button type="submit" class="item-btn hide btn-submit">Confirmar</button>
            {{end}}
        </div>
    </form>
    
    {{template "Scripts"}}

    {{if eq .mode "edit"}}
    <div class="btn-container">
        {{if eq .role "admin"}}
        <button class="item-btn" onclick="enableInputs(); enableSelects(); showConfirmButton();">Editar</button>
        <!-- falta BOTON ELIMINAR -->
         {{end}}
        <a href="/member/{{$.parent.IdMember}}/file"><button class="item-btn">Volver al afiliado</button></a>
    </div>
    {{else if eq .mode "create"}}
    <script type="text/javascript">
        enableInputs();
        enableSelects();
    </script>
    {{end}}
    </div>
</div>

</body>
</html>
