{{$canDelete := .canDelete}}
{{$canWrite := .canWrite}}
    <div class="nav-container">
        <nav class="navbar navbar-file navbar-expand navbar-light bg-light">
            {{if $canWrite}}
        <div class="navbar-nav">
            <button hx-get="/parent/{{.idMember}}/addForm" hx-trigger="click" hx-target="#tableDiv">Agregar familiar</button></a>
        </div>
        {{end}}
        </nav>
    </div>
<table class="table table-striped w-90 sub-table">
    <tr>
            <th>Nombre</th>
            <th>Parentesco</th>
            <th class="print">CUIL</th>
            <th class="print">Fecha de Nac.</th>
            <th class="no-print"> </th>
            {{if $canDelete}}
            <th class="no-print"> </th>
            {{end}}
        </tr>

        {{range $_, $p := .parents}}
        <tr>
            <td>{{$p.Name}} </td>
            <td>{{$p.Rel}} </td>
            <td class="print">{{$p.CUIL}}</td>
            <td class="print">{{$p.Birthday}}</td>
            <td class="no-print">
                <button class="btn-file" hx-get="/parent/{{$p.IdMember}}/{{$p.IdParent}}/file" hx-trigger="click" hx-target="#tableDiv">
                <i class="bi bi-file-earmark-text"></i>
            </button>
                </a>
            </td>
            {{if $canDelete}}
            <td class="no-print">
                <button class="btn-delete" hx-delete="/parent/{{$p.IdMember}}/{{$p.IdParent}}/delete" hx-confirm="¿Estás seguro que deseas eliminar el familiar?" hx-target="#tableDiv">
                    <i class="bi bi-x-square"></i>
                </button>
            </td>  
            {{end}}
        </tr>
        {{end}}
    </table>    
    