<!DOCTYPE html>
<html lang="en">
    {{template "Head"}}
    {{$idEnterprise := .idEnterprise}}
<body>
    <div class="nav-container">
        <nav class="navbar navbar-file navbar-expand navbar-light bg-light">
            {{if eq .role "admin"}}
            <div class="navbar-nav">
                {{if eq .mode "edit"}}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{$.payment.Year}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {{range $_, $y := .years}}
                        <li><button class="dropdown-item" type="button" hx-get="/enterprise/{{$idEnterprise}}/paymentTable/{{$y}}" hx-target="#tableDiv" hx-trigger="click">{{$y}}</button></li>
                        {{end}}
                    </ul>
                  </div>
                <button class="btn-add" hx-get="/payment/{{$.payment.IdEnterprise}}/addForm" hx-trigger="click" hx-target="#tableDiv">Agregar otro pago</button></a>
                {{end}}
            </div>
            {{end}}
        </nav>
    </div>
    <div id="targetDiv">
        <div class="container" id="payment-container">
        {{if eq .mode "add"}}
            <form hx-post="/payment/{{$.payment.IdEnterprise}}/add" hx-target="#tableDiv" id="paymentForm">
                <div class="form__section">
                    <div class="page-title">Agregar nuevo pago</div>             
        {{else if eq .mode "edit"}}
            <form hx-put="/payment/{{$.payment.IdEnterprise}}/{{$.payment.IdPayment}}/edit" hx-target="#tableDiv" id="paymentForm">
                <div class="form__section">
                    <div class="page-title">Pago</div>
        {{end}}
               
                    <div class="input-container field-12">
                        <div class="field-tag field-2">Mes</div>
                        <input class="form-input field-12" type="text" name="month" value="{{$.payment.Month}}" disabled>
                    </div>
                    <div class="hide error-div field-12 month-error"></div>

                    <div class="input-container field-12">
                        <div class="field-tag field-2">Año</div>
                        <input class="form-input field-12" type="text" name="year" value="{{$.payment.Year}}" disabled>
                    </div>
                    <div class="hide error-div field-12 year-error"></div>

                    <div class="input-container field-12">
                        <div class="field-tag field-2">Estado</div>
                        <select class="form-input field-12" name="status" id="status" disabled>
                            {{if eq $.payment.Status ""}}
                            <option value="PAGO">PAGO</option>
                            <option value="IMPAGO">IMPAGO</option>
                            {{else if eq $.payment.Status "PAGO"}}
                            <option value="{{$.payment.Status}}">{{$.payment.Status}}</option>
                            <option value="impago">IMPAGO</option>
                            {{else if eq $.payment.Status "IMPAGO"}}
                            <option value="{{$.payment.Status}}">{{$.payment.Status}}</option>
                            <option value="pago">PAGO</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="hide error-div field-12 status-error"></div>

                    <div class="input-container field-12">
                        <div class="field-tag field-2">Monto</div>
                        {{if eq .mode "add"}}
                        <!-- ver esto, ya no se usa mas mepa -->
                            {{if not .withError}}
                                <input class="form-input field-12" type="number" name="amount" value="" disabled>
                            {{end}}
                        {{else}}
                        <input class="form-input field-12" type="number" name="amount" value="{{$.payment.Amount}}" disabled>
                        {{end}}
                    </div>
                    <div class="hide error-div field-12 amount-error"></div>
                    <div class="input-container field-12">
                        <div class="field-tag field-2">Fecha de pago</div>
                        <input class="form-input field-12" type="text" name="payment-date" id="payment-date" value="{{$.payment.PaymentDate}}" placeholder="(DD/MM/AAAA)" disabled>
                    </div>
                    <div class="hide error-div field-12 payment-date-error"></div>

                    <div class="input-container field-12">
                        <div class="field-tag field-2">Comentarios</div>
                        <input class="form-input field-12" type="text" name="commentary" value="{{$.payment.Commentary}}" disabled>
                    </div>
                    <div class="hide error-div field-12 commentary-error"></div>
                    
                    <input class="hide" type="text" name="id-enterprise" value="{{$.payment.IdEnterprise}}">

                    {{if eq .mode "add"}}
                    <div class="item-btn btn-submit" onclick="validatePayment('create');">Enviar</div>
                    <button type="submit" class="hide" id="submit-create-payment-btn">Enviar form (escondido)</button>
                    {{else if eq .mode "edit"}}
                    <div class="item-btn hide btn-submit" onclick="validatePayment('edit')" id="btn-payment-confirm" onclick="validateForm();">Confirmar</div>
                    <button type="submit" class="hide" id="submit-edit-payment-btn">Confirmar form (escondido)</button>
                    {{end}}
                </div>
                {{if eq .mode "edit"}}
                <div class="timestamps">Creado: {{.createdAt}}</div>
                <div class="timestamps">Actualizado: {{.updatedAt}}</div>
                {{end}}
            </form>
            {{if eq .mode "edit"}}
            <div class="btn-container">
                {{if eq .role "admin"}}
                <div class="item-btn" onclick="enableInputs(); enableSelects(); showConfirmButton('payment');">Editar</div>
                <button class="item-btn btn-delete-file" hx-delete="/payment/{{$.payment.IdEnterprise}}/{{$.payment.IdPayment}}/delete" hx-trigger="click" hx-confirm="¿Estás seguro que deseas eliminar el pago?" hx-target="#tableDiv">Eliminar pago</button>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
    {{template "Scripts"}}
    {{template "ValidationScripts"}}
    {{if eq .mode "add"}}
        <script type="text/javascript">
            enableInputs();
            enableSelects();
            hideAddPaymentBtn();
        </script>
    {{else if eq .mode "edit"}}
        <script type="text/javascript">
            showAddPaymentBtn();
        </script>
    {{end}}
</body>

    
</html>
