<!DOCTYPE html>
<html lang="en">
    {{template "Head"}}
<body>
<div id="targetDiv">
    <div class="container" id="main-container">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <a class="navbar-brand" href="/">Sindicato</a>  
                    <div class="header-icon-container">
                        <a class="nav-item nav-link active show" href="/member/list"><i class="bi bi-person-fill"></i></a>
                        <a class="nav-item nav-link active show" href="/enterprise/list"><i class="bi bi-building-fill"></i></a>
                    </div>            
                    
                         <a href="/enterprise/{{$.payment.IdEnterprise}}/file"><button class="add-btn-table">Volver a la empresa</button></a>
                         <a href="/payment/{{$.payment.IdEnterprise}}/paymentTable"><button class="add-btn-table">Volver a pagos</button></a>
                      
                </nav>
            </div>
        </header>
    <div id="targetDiv">
        <div class="field-12 enterprise-title">{{.enterpriseName}}</div>
        <div class="container" id="payment-container">
        {{if eq .mode "add"}}
            <form hx-post="/payment/{{$.payment.IdEnterprise}}/add" hx-target="body" id="paymentForm">
                <div class="form__section">
        {{else if eq .mode "edit"}}
            <form hx-put="/payment/{{$.payment.IdEnterprise}}/{{$.payment.IdPayment}}/edit" hx-target="#paymentDiv" id="paymentForm">
                <div class="form__section">
        {{end}}
               
                    <div class="input-container field-12">
                        <div class="field-tag field-2">Mes</div>
                        <input class="form-input field-12" type="text" name="month" value="{{$.payment.Month}}" disabled>
                    </div>
                    <div class="hide error-div field-12 month-error"></div>

                    <div class="input-container field-12">
                        <div class="field-tag field-2">Año</div>
                        <input class="form-input field-12" type="text" name="year" value="{{$.payment.Year}}" disabled>
                    </div>
                    <div class="hide error-div field-12 year-error"></div>

                    <div class="input-container field-12">
                        <div class="field-tag field-2">Estado</div>
                        <select class="form-input field-12" name="status" id="status" disabled>
                            {{if $.payment.Status}}
                            <option value="true">Pago</option>
                            <option value="false">Impago</option>
                            {{else}}
                            <option value="false">Impago</option>
                            <option value="true">Pago</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="hide error-div field-12 status-error"></div>

                    <div class="input-container field-12">
                        <div class="field-tag field-2">Monto</div>
                        {{if eq .mode "add"}}
                        <!-- ver esto, ya no se usa mas mepa -->
                            {{if not .withError}}
                                <input class="form-input field-12" type="number" name="amount" value="" disabled>
                            {{end}}
                        {{else}}
                        <input class="form-input field-12" type="number" name="amount" value="{{$.payment.Amount}}" disabled>
                        {{end}}
                    </div>
                    <div class="hide error-div field-12 amount-error"></div>
                    <div class="input-container field-12">
                        <div class="field-tag field-2">Fecha de pago</div>
                        <input class="form-input field-12" type="text" name="payment-date" id="payment-date" value="{{$.payment.PaymentDate}}" placeholder="(DD/MM/AAAA)" disabled>
                    </div>
                    <div class="hide error-div field-12 payment-date-error"></div>

                    <div class="input-container field-12">
                        <div class="field-tag field-2">Observaciones</div>
                        <input class="form-input field-12" type="text" name="observations" value="{{$.payment.Observations}}" disabled>
                    </div>
                    <div class="hide error-div field-12 observations-error"></div>
                    
                    <input class="hide" type="text" name="id-enterprise" value="{{$.payment.IdEnterprise}}">

                    {{if eq .mode "add"}}
                    <div class="item-btn btn-submit" onclick="validatePayment('create');">Enviar</div>
                    <button type="submit" class="hide" id="submit-create-payment-btn">Enviar form (escondido)</button>
                    {{else if eq .mode "edit"}}
                    <div class="item-btn hide btn-submit" onclick="validatePayment('edit')" id="btn-payment-confirm" onclick="validateForm();">Confirmar</div>
                    <button type="submit" class="hide" id="submit-edit-payment-btn">Confirmar form (escondido)</button>
                    {{end}}
                </div>
                {{if eq .mode "edit"}}
                <div class="timestamps">Creado: {{.createdAt}}</div>
                <div class="timestamps">Actualizado: {{.updatedAt}}</div>
                {{end}}
            </form>
            {{if eq .mode "edit"}}
            <div class="btn-container">
                {{if .canWrite}}
                <div class="item-btn" onclick="enableInputs(); enableSelects(); showConfirmButton('payment');">Editar</div>
                {{end}}
                {{if .canDelete}}
                <button class="item-btn btn-delete-file" hx-delete="/payment/{{$.payment.IdEnterprise}}/{{$.payment.IdPayment}}/delete" hx-trigger="click" hx-confirm="¿Estás seguro que deseas eliminar el pago?" hx-target="body">Eliminar pago</button>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
    {{template "Scripts"}}
    {{template "ValidationScripts"}}
    {{if eq .mode "add"}}
        <script type="text/javascript">
            enableInputs();
            enableSelects();
            hideAddPaymentBtn();
        </script>
    {{else if eq .mode "edit"}}
        <script type="text/javascript">
            showAddPaymentBtn();
        </script>
    {{end}}
    </div>
    </div>
</body>

    
</html>
