{{if .admin}}
{{template "Head"}}
<body>
    <div class="register-form-container">
        <form class="register-form" hx-post="/register" hx-target="body">
            <div class="page-title form-title">Registrar usuario</div>
            <div class="form__section">
                <input class="form-input login-form-input" type="text" name="user" placeholder="Usuario"></input>
                <br>
               
                {{with .userError}}
                <div class="error-div field-12">{{.}}</div>
                {{end}}
                
                <input class="form-input login-form-input" type="password" name="password" placeholder="Contraseña"></input>
                <br>

                <table class="table">
                    <tr>
                        <th>Permiso</th>
                        <th>Agregar/editar</th>
                        <th>Eliminar</th>
                    </tr>

                    <tr>
                        <td>Afiliados</td>
                        <td>
                            <select name="write-member" id="">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </td>
                        <td>
                            <select name="delete-member" id="">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Empresas</td>
                        <td>
                            <select name="write-enterprise" id="">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </td>
                        <td>
                            <select name="delete-enterprise" id="">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Familiares</td>
                        <td>
                            <select name="write-parent" id="">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                        </td>
                        <td>
                            <select name="delete-parent" id="">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Pagos</td>
                        <td>
                            <select name="write-payment" id="">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </td>
                        <td>
                            <select name="delete-payment" id="">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </td>
                    </tr>

                </table>
                
                <button class="login-submit" type="submit">REGISTRAR</button>
            </div>
            </form>
        </div>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</body>
{{end}}