body{
    background-color: #BBBBBB;
}

.container{
  background-color: #EFEFEF;
  margin-top: 5%;
  padding: 0;
  border-radius: 20px;
}

.navbar{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px ;
  /* padding-left: 40px;
  padding-right: 40px; */
  width: 100%;
}

/* enable relative positioning */
.inner-addon { 
  position: relative; 
  text-align: center;
  margin-left: 0.5em
  
}

/* style icon */
.inner-addon .input-icon {
position: absolute;
/* bottom 0 para alinearlo mas arriba */
bottom: 0%;  
padding: 10px;
pointer-events: none;
}

/* align icon */
.left-addon .input-icon  { left:  0px;}
.right-addon .input-icon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.table{
  text-align: center;
}

.nav-item-right{
  margin-left: auto;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
  color: black
}

.nav-item-right:hover{
  color:black;
  text-decoration-line: none 
}

tr:last-child td:first-child{
  border-bottom-left-radius: 20px;
}

tr:last-child td:last-child{
  border-bottom-right-radius: 20px;
}

input:disabled{
  background-color: white;
  color: black
}

select:disabled{
  background-color: white;
  color: black;
  opacity: 100%;
}

.show{
  display:inline
}

.hide{
  display: none
}

.form-container{
  display: flex;
  justify-content: center;
}

.form-input{
display: block;
padding: 5px;
margin: 10px
}

.input-container{
  text-align: center;
}

.current-page{
  background-color: #2222EE;
  color: white
}

.btn-pagination{
  height: 2.5em;
  width: 2.8em;
}

.nav-container{
  display: flex;
  justify-content: center
}