body{
    background-color: #BBBBBB;
}

.container{
  background-color: #EFEFEF;
}

/* enable relative positioning */
.inner-addon { 
  position: relative; 
  text-align: center;
  
}

/* style icon */
.inner-addon .input-icon {
position: absolute;
/* bottom 0 para alinearlo mas arriba */
bottom: 0%;  
padding: 10px;
pointer-events: none;
}

/* align icon */
.left-addon .input-icon  { left:  0px;}
.right-addon .input-icon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.table{
  text-align: center;
}
