:root {
  --main-color: #fefefe;
  --background-color: #aaa;
}

body {
  background-color: var(--background-color);
  margin: 0px;
  /* para que no tenga margen en ningun costado de la pagina */
  display: flex;
  /* estos 3 de abajo son para que el footer quede bien puesto */
  flex-direction: column;
  min-height: 100vh;
}

section {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.page-title {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  width: 100%;
}

input:focus {
  transition: transform 0.3s;
  transform: scale(1.05);
}

input::placeholder {
  color: #999;
  opacity: 1;
}

select {
  color: #999;
}

.container {
  background-color: var(--main-color);
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;
  border-radius: 20px;
}

#main-container {
  box-shadow: 0em 0em 1em 0px black;
}

/* enable relative positioning */
.inner-addon {
  position: relative;
  text-align: center;
  margin-left: 0.5em;
}

/* style icon */
.inner-addon .input-icon {
  position: absolute;
  /* bottom 0 para alinearlo mas arriba */
  bottom: 0%;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .input-icon {
  left: 0px;
}
.right-addon .input-icon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

.table {
  text-align: center;
}

.nav-item-right {
  margin-left: auto;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
  color: black;
}

.nav-item-right:hover {
  color: black;
  text-decoration-line: none;
}

input:disabled {
  background-color: var(--main-color);
  color: black;
}

select:disabled {
  background-color: var(--main-color);
  color: black;
  opacity: 100%;
}

.current-enterprise {
  background-color: lightgrey;
}

.show {
  display: inline;
}

.input-container {
  display: flex;
}

.form-input,
.form-select {
  font-size: 1em;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  color: #000;
  /* display: inline; */
  padding: 5px 0px 5px 5px;
  margin: 10px 0px 10px 10px;
  /* justify-self: right; */
}

.hide {
  display: none;
}

.btn-pagination.disabled {
  background-color: #fefefe;
  border: 1px;
  border-color: black;
}

.btn-pagination {
  background-color: #eeeeee;
  border: none;
  border-radius: 0;
  height: 2.5em;
  width: 2.8em;
  /* margin: 0px 2px; */
  color: black;
  border-color: black;
}

.btn-pagination:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-pagination:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* para eliminar el circulo azul */
.btn:focus {
  box-shadow: none;
}

.btn-file {
  border-radius: 5px;
  font-weight: 2000;
}

.btn-delete {
  border-radius: 5px;
  background-color: #FF6666;
}

.btn-add {
  border-radius: 5px;
  background-color: #555555;
  padding: 0.3em;
  color: white;
  border: none;
}

.btn-link{
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 0.3em;
  color: black;
  border: none;
  font-weight: 500;
  border: 1px solid black
}

.btn-other{
  background-color: #555555;
  padding: 0.3em;
  color:white;
  border: none
}

form {
  width: 100%;
}

.form__section {
  /* box-shadow: 0em 0em 1em 0px black; */
  align-self: center;
  justify-self: center;
  justify-content: center;
  /* background-color: #ffeeff; */
  background-color: var(--main-color);
  color: #000;
  max-width: 100%;
  min-width: 30%;
  /* margin: 0.5em 10vw 1em 10vw; */
  padding: 2em 2em;
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px;
}

.title-div {
  font-size: 1.5em;
  font-weight: 700;
  margin: 1.6em 0 0.7em 0;
}

.field-tag {
  align-self: center;
  font-weight: 500;
}

.field-2 {
  flex-basis: 15%;
}

.field-6 {
  flex-basis: 40%;
}

.field-100 {
  flex-basis: 100%;
}

.field-12 {
  flex-basis: 83%;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.item-btn {
  margin: 2em 0 2em 0;
  padding: 0.5em;
  align-self: center;
  background-color: #555555;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.btn-delete-file{
  background-color: #BB3333;
}


.enterprise-btn {
  background-color: #eeeeee;
  border: 2px solid black;
  margin-top: 1.5em;
  margin-bottom: 1em;
  align-self: center;
  padding: 5px 10px;
}

.small-link-btn{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background-color: #eeeeee;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.btn-submit {
  width: 40%;
  text-align: center;
  cursor: pointer;
}

.center-btn {
  align-self: center;
}

.nav-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #eeeeee !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}


.btn-link, .btn-link:hover, .btn-link:visited, .btn-link:link, .btn-link:active{
  color: black;
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid black;
  outline: 0 !important;
  text-decoration-color: transparent !important;
}

.static-input:focus {
  outline: none;
  box-shadow: none;
  transition: none;
  transform: none;
  border-color: #ced4da;
}

/* to delete X */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.navbar-file {
  border-radius: 0;
}

.error-div {
  color: #dd2222;
  text-align: center;
}

td {
  border-bottom: 0px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

th.no-result {
  border-bottom: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown{
  margin-right: 1em;
}

div.no-result{
  margin: 1em
}

.form-container{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;            
  align-items: center;
  text-align: center;
}

.login-form{
  background-color: var(--main-color) ;
  width: 25%;
  height: 45%;
  border-radius: 20px
}

.form-title{
  margin-top: 0.7em;
  margin-bottom: 1em
}

.login-form-input{
  width: 70%;
  margin: 2em 1em;
  font-size: large;
  border-bottom: 2px solid #999;
}

.login-submit{
  background-color:var(--background-color);
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 80%;
  height: 3em;
  border: 0px;
  border-radius: 5px;
  margin-top: 3em;
}

.login-submit::placeholder{
  font-size: 15px
}

.icon-container{
  margin-top: 5em;
}

.check-icon{
  font-size: 10em;
  color: #999;
}

.enterprise-option{
  cursor: pointer;
}

.enterprise-select-table{
  text-align: start;  
}

#id-enterprise-searchbox{
  display: block;
}

.options{
  display: block;
  max-height: 250px;
  overflow-y: auto;
}

.options td{
  cursor: pointer;
}


.x-icon{
  line-height: 2em;
  margin-top: 5em;
  cursor: pointer;
}

.no-transform:focus {
  transform: scale(1);
}

.timestamps{
  font-size: 0.8em;
  margin-left: 2em;
  display: block;
}

.tr-red{
  background-color: #ff9090;
}

.tr-orange{
  background-color: #ffc194;
}

.tr-yellow{
  background-color: #ffea95;
}

.index-btn{
  height: 10em;
  width: 10em;
  border: 2px solid #999;
  border-radius: 10px;
  padding: 10em;
  margin: 10em
}

.index-btn-container{
text-align: center;
display: flex;
}

#member-search-input{
  margin:0px
}

#electoral-member-list-table{
  background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important; */
  -webkit-background-clip: text;
  /* This is a bonus from here: https://github.com/nextui-org/nextui/issues/1346#issuecomment-1855635162*/
  transition: background-color 5000s ease-in-out 0s;
}